html {
  font-size: 10px;
  background: url('./redCurtainBackdropManosGkikas.jpg') bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
/* Not a lot was changed mostly sizing and justifications */
.all-keys {
  border: .4rem solid black;
  border-radius: .5rem;
  font-size: 1.5rem;
  transition: all .07s ease;
  text-align: center;
}
/* Moved text to bottom with flex column flex-end */
.white-key {
  height: 20rem;
  width: 10rem;
  color: rgb(0, 0, 0);
  background: #FFFFFF;
  text-shadow: 0 0 .5rem rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 .5rem 0;
  z-index: 1;
}
/* Not sure if there is a better method than negative margins */
.black-key {
  height: 10rem;
  width: 7rem;
  margin: -10.2rem -4rem 0 -4rem;
  color: white;
  background: #000000;
  text-shadow: 0 0 .5rem black;
  z-index: 2;
}
/* Keys shrink and darken instead to look like being pressed down */
.playing {
  transform: scale(.9);
  border-color: #343434;
  box-shadow: 0 0 1rem #343434;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  letter-spacing: .1rem;
}
